/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
  text-decoration: none;
}
a{
  text-decoration: none;
}
a:visited {color:#607D8B;}  /* visited link */
a:hover {color:#607D8B;}  /* mouse over link */
.companies {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;
}
.companies li {
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  height: 2rem;
  border-radius: 4px;
}
.companies li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.companies li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.companies .text {
  position: relative;
  top: -3px;
  text-decoration: none;
}
.companies .entity {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;

}
button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  background-color: gray !important;
  color: white;
}

.company {
  display: flex;
  justify-content: space-between;
  height: 100%;

  a {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 20rem;
    white-space: nowrap;
  }
}
